include setup.py tasks.py
include setup.cfg tox.ini
include AUTHORS LICENSE README.rst MANIFEST.in
include requirements*.txt
include lib/ravstack/*.py
include share/ravstack.conf.sample
include share/geniso share/isolinux.cfg share/script.ipxe
include share/ovirt-display-hook.py share/clean.sh
include share/*.service share/*.conf
include docs/*.rst
