[DEFAULT]
# Enable debugging.
# Also specified as $DEBUG or --debug
#debug=False
# Be verbose (shows logging on stdout).
# Also specified as $VERBOSE or --verbose
#verbose=False
[ravello]
# Ravello API username. [required]
# Also specified as $RAVELLO_USERNAME or --username
username=<None>
# Ravello API password. [required]
# Also specified as $RAVELLO_PASSWORD or --password
password=<None>
# Ravello application name. [required]
# Also specified as $RAVELLO_APPLICATION or --application
application=<None>
# Name of PXE boot ISO image.
# Also specified as --pxe-iso
#pxe_iso=ipxe.iso
# Minimum application runtime (in minutes).
#min_runtime=120
[proxy]
# Proxy SSH keypair name.
#key_name=id_raviron
# Proxy SSH keypair name.
#proxy_name=raviron-proxy
[nodes]
# Save node definition in this file.
# Also specified as --output
#nodes_file=~/nodes.json
